.c{
    height: 250px;
    width: 280px;
    border: 2px solid rgb(0, 0, 0);
    margin: 20px;
    display: inline-block;
    border-radius: 35px;
    box-shadow: 5px 5px 6px rgb(9, 13, 15);
    background-color: rgba(0, 255, 255, 0.414);
    padding-left: 80px;
}

img{
    width: 60%;
    height: 60%;
    

}

.d{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: left;
    text-decoration: underline rgba(80, 64, 64, 0.142);
}

.c:hover{
    box-shadow: 4px 4px 8px rgb(16, 15, 15);
    text-decoration: underline rgba(12, 12, 12, 0.549);

}
body{
    background-color: rgb(225, 222, 217);
}